body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(168, 236, 255);
}

h1 {
  color: black;
}

h6 {
  font-size: small;
}

#searchBtn {
margin-top: 0;
}
button {
  display: block;
  text-align: center;
  background-color: aqua;
  margin-top: 10px;
}

button:hover{
  background-color: blue;
  color:aqua
}

#dailyForecast {
  border-style:hidden;
}

.favorable {
  background-color: green;
}

.moderate {
  background-color: yellow;
}

.severe {
  background-color: red;
}

.card {
  background-color: aqua;
}

#firstDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#secondDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#thirdDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#fourthDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#fifthDayFiveDay{
  margin-top: 300px;
  font-size: small;
}