body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

h1 {
  color: white;
  font-weight: bold;
}

#dailyForecast {
  border-style:hidden;
  
}

#firstDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#secondDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#thirdDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#fourthDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#fifthDayFiveDay{
  margin-top: 300px;
  font-size: small;
}