body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

h1 {
  color: white;
  font-weight: bold;
}

h6 {
  font-size: small;
}

button {
  background-color: aqua;
  /* font-size: 200px; */
  padding: 20px 90px;
  padding-top: 1px;

}

#dailyForecast {
  border-style:hidden;
  
}

.favorable {
  background-color: green;
  /* box-sizing:content-box; */
}

.moderate {
  background-color: yellow;
  /* box-sizing:content-box; */
}

.severe {
  background-color: red;
  /* box-sizing:content-box; */
}

.card {
  background-color: aqua;
}

#firstDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#secondDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#thirdDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#fourthDayFiveDay{
  margin-top: 300px;
  font-size: small;
}

#fifthDayFiveDay{
  margin-top: 300px;
  font-size: small;
}